charset "UTF-8";
*{
    font-family: 'Nanum Gothic', sans-serif;
}
body{
    background: gainsboro;
}
button{
    cursor: pointer;
}
button:focus{
    outline: none;
}

#main{
    background: white;
}
#main-header > h2{
	margin: 0;
	padding: 20px;	
	padding-top: 30px;
	padding-bottom: 30px;
	border-left : 1px solid gray;
	border-right : 1px solid gray;
	color : #7db341;
}
.searchForm{
    width: 60px;
    padding:0;
    margin: 0;
}

#search-output{
    margin: 30px;
    border: 1px solid gray;
}
#search-output-header{
    font-size: 25px;
    border-bottom: 1px solid gray;
    padding: 10px;
}
#search-output-list table{
    border-collapse: collapse;
    width: 100%;
}
#search-output-list th,tr,td{
    border : 1px solid gray;
}
search-output-list th{
    text-align: center;
    background: #7db341;
    color : white;
    font-weight: bold;
}
search-output-list>tbody>tr>td:nth-child(2){
    width: 80px;
}
search-output-list>tbody>tr>td:nth-child(3){
    width: 100px;
}
search-output-list>tbody>tr>td:nth-child(4){
    width: 200px;
}
search-output-list>tbody>tr>td:nth-child(5){
    width: 120px;
}
search-output-list>tbody>tr>td:nth-child(6){
    width: 100px;
}
search-output-list>tbody>tr>td:nth-child(7){
    width: 140px;
}
search-output-list>tbody>tr>td:nth-child(8){
    width: 200px;
}
search-output-list>tbody>tr>td:nth-child(9){
    width: 200px;
}
search-output-list>tbody>tr>td:nth-child(10){
    width: 200px;
}
search-output-list>tbody>tr>td:nth-child(11){
    width: 100px;
}
search-output-list>tbody>tr>td:nth-child(12){
    width: 100px;
}
search-output-list>tbody>tr>td:nth-child(13){
    width: 100px;
}
search-output-list>tbody>tr>td:nth-child(14){
    width: 100px;
}
#pageText {
	text-align : center;
}

/* 아래부터 member detail */

.underline{
    margin-left: 15px;
    margin-top: 1px;
    width: 151px;
    height: 3px;
    background: linear-gradient(to right, white 0%, rgba(0,0,0,0) 100%);
}
#profile-main{
    width: 1000px;
    height: 1100px;
    border : 1px solid gainsboro;
    box-shadow: 0 0 15px 2px gainsboro;
    display: grid;
    grid-template-columns: 25% 75%;
}

#profile-left{
    background-color: #7db341;
    background: linear-gradient(to bottom, #7db341 0%, #8dc1ff 70%,#f1f7ee 100%);
    display: grid;
    grid-template-rows: 25% 25% 50% ; 
}
#profile-left-photo{
    display: flex;
    justify-content: center;
    align-content: center;
}
#profile-left-photo > img{
    width : 110px;
    height : 110px;
    border-radius: 100px;
    padding : 5px;
    border : 1px solid white;
    margin-top: 40px;
}
#profile-left-contact h3{
    padding-left : 15px;
    color:white;
    margin-bottom: 0;
}
#profile-left-contact > div{
    padding-left : 15px;
    padding-right: 1px;
}
#profile-left i {
    display: inline-block;    
    padding-top : 4px;
    width: 24px;
    height: 20px;
    border-radius: 17px;
    text-align: center;
    background : white;
    margin:2px;
    color: #7db341;
}

#profile-left p{
    width: 151px;
    display: inline-block;
    color: white;
    font-size: 13px;
}
#profile-left-simpledata > h3{
    padding-left :15px;
    margin-bottom: 0;
    color: white;
}
#profile-left-simpledata > div{
    padding-left : 15px;
    padding-right: 1px;
}


#profile-right{
    display: grid;
    padding-left: 2px;
    grid-template-rows: 10% 90%;
}
#profile-right-header{
    background: #f1f7ee;
}

#profile-right-header>h5,
#profile-right-header>h3,
#profile-right-header>h2{
    text-align: center;
    color:rgb(81,81,81);
    margin-top: 10px;
    margin-bottom: 0;
}
#profile-right-header > hr{
    width: 200px;
    color:white;
}
#profile-right-body > h4{
    color: #FA7268;
    text-align: center;
}
#grade{
    text-align: center;
    color: rgb(81,81,81);
}
#grade > b{
    color: #FA7268;
}
#point{
    width: 110px;
    height: 110px;
    border-radius: 75px;
    padding : 5px;
    border: 1px solid gainsboro;
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 110px;
}

#point-value{
    background: #f1f7ee;
    text-align: center;
    width: 110px;
    height: 110px;
    border-radius: 75px;
    color: rgb(81,81,81);
    margin: 0;
}
#profile-right-point{
    display: flex;
    align-content: center;
    justify-content: center;
}

.totalTable > thead> tr{
    font-size : 12px;
}