@charset "UTF-8";
* { margin:0px; padding:0px; }
#tableDesign{
    border-collapse: collapse;
    margin: 20px auto;
    width:1200px;height: 300px;
    box-sizing: border-box;
}
#tableDesign caption{
   display:none;
}
#tableDesign th{
    border-top: 1px solid #7db341;
    border-bottom: 1px solid #7db341;
    background-color:white;
}
#tableDesign th:first-child{
  width:80px;
}
#tableDesign th:first-child(2){
  width:290px;
}
#tableDesign th:first-child(3){
  width:170px;
}
#tableDesign th:first-child(4){
  width:150px;
}
#tableDesign th:first-child(5){
  width:120px;
  background: no-repeat right top;
}
#tableDesign th span{
 display: block;
 border-right: 1px solid #7db341;
}
#tableDesign td{
  padding: 8px 0px;
  text-align: center;
  border-bottom: 1px solid #7db341; 
}
#tableDesign td.leftstyle{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
#tableDesign td.leftstyle2{
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
}
#tableDesign tr:hover{
  background-color:white;
  color:#7db341;
}
.inquirelist span{
  font-size:1.2em;
  font-weight: bold;
}
.inquirelist2{
  font-size:1.2em;
  font-weight: bold;
}
.bntView{
    padding:5px 20px;
    background-color:#7db341;
    border-style: none;
    border-radius: 5px;
    cursor:pointer;
    text-decoration: none;
    color:inherit;
    font-size:1.3em;
}
.bntView:hover{
  background-color:black;
  color:#7db341;
}
#pageNav ul{
  padding:50px 30px 30px 0px;
  text-align: center;
}

#pageNav ul li{
  display: inline;
  padding:2px;
}

#pageNav ul li a {
  background-color:#7db341;
  padding:5px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}
#pageNav ul li:last-child a {
  padding:5px 10px;
  background-color: #7db341;
  color:black;
}
#pageNav ul li a:hover{
  background-color: #7db341;
}

#tableDesign span{
  font-size: 1.3em;
  font-weight: bolder;
}


#tableDesign td.noticeNo{
  font-size: 1.2em;
  font-weight: bold;
}

.noticelist{
    text-align: center;
}