@charset "UTF-8";
.pb_cart_container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}

body {
    background-color: white;
}

.pb_cart_body {
    width: 600px;
    border-radius: 5px;
    
}

.pb_cart_con {
    width: 600px;
    border-radius: 5px;
}

.pb_cart_product {
    display: flex;
    border: 1px solid gainsboro;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 650px;

}

.product_image {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.product_image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.product_name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 40px;
}

.total__price {
    font-size: 17px;
    margin-left: 25px;
    font-weight: bold;
}

#select_product_count {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    color: rgb(81, 81, 81);
    width: 200px;
}

#select_product_count button {
    outline: 0;
    font-size: 10px;
    background-color: white;
    color: rgb(81, 81, 81);
    cursor: pointer;
}

#select_product_count button:hover {
    background-color: #7db341;
    color: white;
    
}

#select_product_count {
    margin-left: 20px;
    margin-top: -15px;
    width: 300px;
}

#total_count {
    margin-left: 20px;
    margin-right: 20px;
}

.pb_cart_order_container {
    width: 400px;
    border: 1px solid #7db341;
    height: 100px;
    position: sticky;
    top: 100px;
    border-radius: 10px;
    border: 1px solid gainsboro;
}

.pb_cart_grid {
    display: grid;
    margin-top: 100px;
    grid-template-columns: 60% 40%;
}

#product_delete_btn {
    outline: none;
    border: 1px solid gainsboro;
    background-color: white;
    border: none;
    margin-top: 42px;
    cursor: pointer;
    font-size: 20px;
}

#product_delete_btn:hover {
    color: #7db341;
}

.product_flex {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.pb_cart_product:hover {
    background-color: gainsboro;
}

.order_payment {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.order_price {
    font-size: 30px;
    margin-left: 80px;
}

.cart_order_btn {
    margin-top: 40px;
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 5px;
    
}

.payment_btn {
    outline: none;
    border: none;
    width: 398px;
    height: 55px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #7db341;
    color: white;
    
    letter-spacing: 5px;
    
}

/* .payment_btn:hover { */
    
/*     background-color: #7db341; */
/*     color:white; */
/* } */

.cartMSG {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}
.cartMSG2 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}

.pb_cart_text {
    font-size: 35px;
    margin-top: 100px;
    font-weight: bold;
    text-align: center;
}