#pb_detail_container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    
}

#pb_detail_header_container {
    margin-top: 100px;  
    height: 550px;
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
}

#pb_detail_header_images {
    box-sizing: border-box;
    height: 500px;
}

#pb_detail_main_image {
    width: 550px;
    height: 450px;
    margin-left: 100px;
    margin-top: -80px;
    
}

#pb_detail_main_image > img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

#pb_detail_thumbnail_list {
    width: 80px;
    height: 80px;
    
}

#pb_detail_thumbnail_list  > img{
    width: 100%;
    height: 80px;
    border-radius: 5px;
}


#pb_detail_info {
    width: 250px;
    margin-right: 150px;
    height: 500px;
    color: rgb(81, 81, 81);
}

#pb_detail_title {
    font-size: 30px;
}


#pb_detail_rating_point {
    font-size: 20px;
    margin-left: 5px;
    
}

#pb_detail_rating_point:hover {
    color: #7db341;
}

#pb_detail_price {
    margin-left: 5px;
    font-size: 25px;
    font-weight: bold;
}

#pb_detail_promotion {
    display: flex;
    font-size: 10px;
    margin-left: 8px;
}

#pb_detail_select_product {
    margin-left: 5px;
    margin-top: 20px;
}

#pb_detail_select_product > select {
    width: 250px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    color: rgb(81, 81, 81);
}

#pb_detail_select_box {
    margin-top: 20px;
    margin-left: 5px;
    color: rgb(81, 81, 81);
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
}

#select_product_title {
    color: rgb(81, 81, 81);
    
}

#select_product_count {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    color: rgb(81, 81, 81);
}

#select_product_count button {
    outline: 0;
    font-size: 10px;
    background-color: white;
    color: rgb(81, 81, 81);
}

#select_product_count button:hover {
    background-color: #7db341;
    color: white;
}


#select_product_total-price {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    color: rgb(81, 81, 81);
}

#select_product_total-price > .total__price {
    font-weight: bold;
}

#pb_detail_btns {
    margin-top: 30px;
    margin-left: 10px;
    width: 250px;
}

#pb_detail_btns > button {
    outline: 0;
    width: 120px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    color: #7db341;
}

#pb_detail_btns > button:hover {
    background-color: #7db341;
    color: white;
}

#product_info_detail {
	margin-top: 50px;
}

#pb_info_move {
	height: 50px;
	
}

#pb_detail_menubar {
    display: flex;
    font-size: 30px;
    width:1200px;
    color: rgb(81, 81, 81);
    padding: 10px;
    text-align: center;
    justify-content: center;
    letter-spacing: 7px;
    border: 2px solid gainsboro;
    margin-top: 50px;
    background-color: white;
    position: sticky;
    top:8%;
    z-index: 100;
}

#pb_review_writeform, #pb_inquire_writeform, #count_minus, #count_plus, .add_to_cart, .buy_now {
	cursor: pointer;
}


 #detail_product_info {
    border-right: 3px solid gainsboro;
}
#detail_product_review {
    border-right: 3px solid gainsboro;
}

#detail_product_inquire {
    border-right: 3px solid gainsboro;
}

/*
#detail_product_refund {
    border: 2px solid gainsboro;
} */

#pb_detail_body_container {
    margin-top: 100px;
}

#product_info {
    font-size: 30px;
    color: #7db341;
    border-bottom: 3px solid gainsboro;
    
}

#product_info_img {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    justify-content: center;
	margin-top: 100px;    
}

#product_info_img > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#product_info_content {
    text-align: center;
}

#pb_review_header {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    border-bottom: 3px solid gainsboro;    

}

#pb_review {
    font-size: 30px;
    color: #7db341;
}

#pb_review_header > button {
    margin-right: 20px;
      border: 0;
      outline: 0;
      background-color: white;
      font-size: 20px;
      color: rgb(81, 81, 81);
      margin-top: -10px;

}

#pb_review_header > button:hover {
    color: #7db341;
}

#pb_review_profile {
    display: grid;
    grid-template-columns: 10% 90%;
    margin-top: 50px;
}

#pb_review_profile_img img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

#pb_review_user_info {
    margin-top: -15px;
    margin-left: -15px;
}

#pb_review_user_info > .review_user_rating {
    color: #7db341;
}

#pb_review_user_info > .review_user_rating span {
    margin-left: 15px;
    color: rgb(81,81,81);
}

.review_user_nickname {
    font-weight: bold;
}

#pb_review_select {
    display: grid;
    grid-template-columns: 15% 85%;
}

#review_border-bottom {
    margin-top: 30px;
    border-bottom: 1px solid gainsboro;
}

#pb_review_select_img{
    width: 112px;
    height: 112px;
}

#pb_review_select_img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#pb_review_inquire_header {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    border-bottom: 3px solid gainsboro;    
}

#pb_review_inquire {
    font-size: 30px;
    color: #7db341;
}

#pb_review_inquire_header > button {
    margin-right: 20px;
      border: 0;
      outline: 0;
      background-color: white;
      font-size: 20px;
      color: rgb(81, 81, 81);
      margin-top: -20px;
}

#pb_review_select_content {
    color: rgb(81, 81, 81);
}

#pb_review_inquire_header > button:hover {
    color: #7db341;
}

#pb_inquire_profile {
    display: grid;
    grid-template-columns: 20% 80%;
}

#pb_inquire_user_nickname {
    font-size: 20px;
    width: 250px;
    font-weight: bold;
    color: rgb(81, 81, 81);
}

#pb_inquire_question {
    margin-left: 20px;
    color: rgb(81, 81, 81);
}

#pb_inquire_answer {
    margin-left: 20px;
    font-weight: bold;
    color: rgb(81, 81, 81);
}

#pb_inquire_admin_regdate {
    margin-left: 20px;
    color: rgb(81, 81, 81);
    
}

#pb_inquire_admin_msg {
    margin-left: 30px;
    color: rgb(81, 81, 81);
}

#pb_inquire_answer_content {
    margin-left: 30px;
    color: rgb(81, 81, 81);
}

#pb_inquire_boder-bottom {
    border-bottom: 1px solid gainsboro;
    margin-top: 30px;
}

#pb_review_page {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 20px;
    font-size: 20px;
}

#pb_review_page p:hover {
    color: #7db341;
}

#pb_inquire_page {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 20px;
    font-size: 20px;
}

#pb_inquire_page p:hover {
    color: #7db341;
}

#pb_detail_menubar > div > a:link {
    text-decoration: none;
}

#pb_detail_menubar > div > a:visited {
    text-decoration: none;
    color: rgb(81, 81, 81);
}

#pb_detail_menubar > div > a:hover {
    color:#7db341;
}

.jbFixed {
    position: fixed;
    top: 0px;
}

.top_bar_fix {
    position: fixed;
    top: -50px;
    left: 150px;
    width: 1200px;
}

#post-body{
	position: relative;
}

<!-- -->
#reviewmodal {
    height: auto;
}

.moadl-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.modal-content {
    width: 50%;
    text-align: center;    
    height: auto;
    min-height: 100%;
    top:30px;
}

.modal-title {
    font-size: 30px;
    color: #7db341;
    font-weight: bold;
}

.product__content {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 500px;
    height: 170px;
    resize: none;
}

.content_length {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 15px;
    color: gray;
}

.pb_product_content textarea {
    width: 500px;
}

#preview_img_div {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap : 5px;
}

.imgPlus {
    width: 100px;
    height: 100px;
    border: 1px dotted gray;
    color: gray;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 5px;
    cursor : pointer;
    
}

.review_images {
    display: flex;
    width: 500px;
}

#img_file {
    display: none;
}

.pb_product_content {
    height: 250px;
}

.pb_product_content textarea:focus {
    border-color: #7db341;
    transition: border-color 0.5s ease-in-out;
}

.pb_insertform_container > .pb_product_content,
                           .pb_reviewMap,
                           .pb_product_plus {
    display: flex;
    flex-direction: column;
    align-items: center;   
}


.modal-footer {
    display: flex;
    justify-content: center;
}

.modal-footer > button {
    display: inline-block; 
    padding: .5em .75em; 
    color: white; 
    line-height: normal; 
    vertical-align: middle; 
    background-color: #7db341; 
    cursor: pointer; 
    border-radius: .25em;
    font-weight: bold;
}

.pb_product_item {
    display: flex;
    margin-left: 125px;
    margin-top: 30px;
}

.pb_product_item_img {
    width: 100px;
    height: 100px;
    
}

.pb_product_item_img img {
    width: 100%;
    height: 100%;
}

.pb_product_item_name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

.pb_product_item_rating {
    font-size: 15px;
    font-weight: bold;
    width: 400px;
    height: 150px;
    margin-left: 60px;
    margin-top: 50px;
    text-align: center;
}

.review_images_msg {
	font-weight: bold;
    font-size: 18px;
    margin-left: 8px;
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
}

.rating_msg {
    font-weight: bold;
    font-size: 18px;
    margin-left: 8px;
    margin-bottom: 30px;
}
/*sprite with stars*/
#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
  }
  
  #reviewStars-input {
    
    /*fix floating problems*/
    overflow: hidden;
    *zoom: 1;
    /*end of fix floating problems*/
    margin-left: 66px;
    position: relative;
    float: left;
  }
  
  #reviewStars-input input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    
    width: 43px;
    height: 40px;
    
    position: absolute;
    top: 0;
    z-index: 0;
  }
  
  #reviewStars-input input:checked ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
  }
  
  #reviewStars-input label {
    background-position: 0 0;
    height: 40px;
    width: 43px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    
    position: relative;
    z-index: 1;
  }
  
  #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background-position: 0 -40px;
    height: 40px;
    width: 43px;
  }
  
  #reviewStars-input #star-0 {
    left: 0px;
  }
  #reviewStars-input #star-1 {
    left: 53px;
  }
  #reviewStars-input #star-2 {
    left: 106px;
  }
  #reviewStars-input #star-3 {
    left: 159px;
  }
  #reviewStars-input #star-4 {
    left: 212px;
  }
  #reviewStars-input #star-5 {
    left: 265px;
  }

