@charset "UTF-8";
.email_check__container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.email_check_text {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}
.email_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.email_button a {
    display: inline-block;
    line-height: 35px;
    margin-right: 30px;
    height: 35px;
    width: 150px;
    padding : 5px;
    text-decoration: none;
    background-color: #7db341;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.email_button a:hover {
    background-color: #749e45;
  }