@charset "UTF-8";

#member_menu_container{
    position : fixed;
    top:0;
    left : 0;
    width: 100%;
    margin: 0 auto;
    padding : 0;
    transition: .2s;
    height: 60px;
    z-index: 250;
    border-bottom: 1px solid gainsboro;
}
ul,ol{
	margin-top:20px !important;
}

.member_menu_content > ul {
    list-style: none ;
}
.member_menu_content a{
    text-decoration: none;
}
.member_menu_content a:visited{
    text-decoration: none;
}
.member_menu_content > ul > li {
    display: inline-block;
    font-size: 15px;
    font-weight: bolder;
    margin-left : 25px;
}
.member_menu_content > ul > li > a {
    transition: .3s;
}
.member_menu_content > ul > li > a:hover{
    color: #7db341;
}
.member_menu_content{
  float : left;
}
.member_menu_optional{
    position: absolute;
    width: 100%;
    top:-300px;
    height: 60px;
    border : 1px solid gainsboro;
    background: white;
    margin: 0 auto;
}
.member_menu_optional ul {
    position: absolute;
    left : 190px;
    list-style: none;
}
a{
    text-decoration: none !important;
}
a:visited{
    text-decoration: none !important;
}
a:hover{
  text-decoration: none !important;
	underline: none;
}
.member_menu_optional li {
    display: inline-block;
    font-size: 15px;
    font-weight: bolder;
    margin-left : 25px;
}
.member_menu_optional li > a {
    transition: .3s;
}
.member_menu_optional li > a:hover {
    color: #7db341;
}
.member_opacity{
	background : rgba(0,0,0,0);
}
.member_opacity a{
	color: black;
}
.member_opacity i{
	color:black;
}
.non-member_opacity{
	background :black;
}
.non-member_opacity a{
	color: rgb(81,81,81);	
}
.non-member_opacity i{
	color: #7db341;	
}

.member_modify_container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 150px;
}
.member_modify_title {
  font-family: "Jua", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
}
.member_modify_content {
  width: 30%;
  margin: 0 auto;
}

.member_modify_content {
  font-weight: bold;
}
.member_modify_content,
.member_modify_content > div {
  margin-top: 15px;
}
.member_modify_content input {
  width: 360px;
  height: 30px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
#modify_profile {
  display: none;
}
.modify_profile_plus {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);;
  color: gray;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 5px;
  cursor : pointer;
}
.member_modify_content input:focus {
  border-color: #7db341;
  transition: border-color 0.5s ease-in-out;
}
.modify_post input {
  width: 230px;
  height: 30px;
}
.modify_post button {
  margin-left: 15px;
  border: none;
  background: none;
  background-color: #7db341;
  color: white;
  border-radius: 3px;
  width: 110px;
  height: 30px;
  font-weight: bold;
  font-size: 15px;
}
.member_modify_button {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.member_modify_button button {
  width: 370px;
  height: 50px;
  background-color: #7db341;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 20px;
  line-height: 45px;
  border: none;
}
