@charset "UTF-8";
.reset_pass_container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.reset_pass_title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Jua", sans-serif;
}
.reset_pass_input input {
  padding: 10px;
  box-sizing: border-box;
  width: 300px;
  height: 45px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
}
.reset_pass_input input:focus {
  border-color: #7db341;
  transition: border-color 0.5s ease-in-out;
}
.reset_pass_button button {
  margin-top: 20px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  line-height: 45px;
  background-color: #7db341;
  font-size: 17px;
}
.reset_pass_button button:hover {
  background-color: #749e45;
}