@charset "UTF-8";
.search_id_container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.search_id_title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: "Jua", sans-serif;
}
.search_id_input input {
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  width: 300px;
  height: 45px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 8px;
  margin-right: 5px;
}
.search_id_input input:focus {
  border-color: #7db341;
  transition: border-color 0.5s ease-in-out;
}
.search_id_input button {
  margin-left: 16px;
  border: none;
  background: none;
  background-color: #7db341;
  color: white;
  border-radius: 3px;
  width: 110px;
  height: 30px;
  font-weight: bold;
  font-size: 16px;
}
.search_id_input button:hover {
  background-color: #749e45;
}
.search_id_button button {
  margin-top: 20px;
  width: 300px;
  height: 50px;
  border: none;
  line-height: 45px;
  background-color: #7db341;
  margin-bottom: 40px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 17px;
}
.search_id_button button:hover {
  background-color: #749e45;
}
.search_id .search_id_result {
  font-weight: bold;
  font-size: 18px;
}