@charset "UTF-8";

body {
    color: rgb(81,81,81);
}
a {
    text-decoration: none;
    color: rgb(81,81,81);            
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.text {
    font-size: 30px;
    height: 100px;
    font-weight: bold;
}
hr {
    border : 1px solid gainsboro;
}
.search {
    height: 200px;            
}
.searchbox {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
#cate {
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
}
#search {
    border-radius: 5px; 
    width: 600px; height: 50px;
    font-size: 30px;
    text-align: center;
    padding-right: 55px;
}
.icon {
    width: 40px; height: 40px;
    position:relative;
    left:-120px;
    top:-5px;
    z-index: 1;
    font-size: 45px;
    color: #7db341;
}
#search:focus {
    outline: none;
    border: 2px solid #7db341;
}
.searchin{
    text-align:center;
}
.searchresult {      
    margin-top: 50px;      
    width: 800px; height: 100px;
    margin: 0 auto;           
    border: 2px solid gainsboro;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    font-size: 20px;
    display:none;
}        
.check {
    line-height: 50px;        
}
.select {
    text-align: center;
}
.select > button {
    margin-top: 15px;
    width: 70px; height: 70px;
    border: none;
    border-radius: 50%;
    background: #7db341;  
    color:white;
    cursor: pointer;
}
.select > button:focus {
    outline: none;
}
.write {
    height: 50px;            
    text-align: right;
}
#write {            
    width: 80px; height: 50px;
    border: none;    
    border-radius: 5px;        
    background: #7db341;  
    color:white;
    cursor: pointer;
}
.list {
    margin-top: 50px;
    display: grid;   
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;   
    grid-row-gap:100px;     
}
.list img {
    border-radius: 5px;
    width: 280px; height: 300px;            
}
.list .mem {
    width: 80px; height: 80px;
    border-radius: 200px;
}