@charset "UTF-8";

body {
    color: rgb(81,81,81);
}
a {
    text-decoration: none;
    color: rgb(81,81,81);            
}
#container {
    width: 1200px;
    margin: 0 auto;
}
.text {
    font-size: 30px;
    height: 100px;
    font-weight: bold;
}
hr {
    border : 2px solid gainsboro;
}
.recipe {
    width: 700px;
    height: 500px;
    float: left;            
}
.recipe > img {
    width: 700px;
    height: 500px;
    border-radius: 5px;
}
.profile {
    width: 500px;
    height: 500px;            
    display: inline-block;
    position: relative;    
} 
#info {
    height: 100px;
}
#info > img {
    width: 80px; height: 80px;
    border-radius: 500px;
    position: relative;
    top: 10px; left: 50px;
}  
#info p {
    position: relative;
    top: -80px; left: 150px;
    
}      
#content {
    height: 200px;
    font-size: 30px;
    text-align: center;
}
#pic {          
    height: 185px;
    display: grid;         
    grid-template-columns:1fr 2fr 2fr 2fr 1fr;
    grid-column-gap: 15px;
          
}
#pic img {
    border-radius: 5px;
    position: relative;
    top: 25px;
    line-height: 20px;
    width: 130px; height: 140px;
}
.month {
    margin-top: 40px;
    height: 500px;        
    display: grid;   
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;        
    margin-bottom: 50px;    
    font-size: 20px;
}
.month span {
    position: relative;
    top: -35px;
}
.month img {
    border-radius: 5px;
    width: 280px; height: 300px;            
}
.month .mem {
    width: 80px; height: 80px;
    border-radius: 200px;
}

.key {
    height: 1000px;           
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px; 
    margin-bottom: 100px;
}
.key img {
    filter: brightness(50%);
    border-radius: 5px;
    width: 280px; height: 350px;
}
#text {
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    padding-left: 85px;
    margin-top: -210px;  
}
.today {
    height: 800px;            
    margin-top: 40px;
    height: 400px;        
    display: grid;   
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;        
    margin-bottom: 50px;    
    font-size: 20px;
}
.today span {
    position: relative;
    top: -35px;
}
.today img {
    border-radius: 5px;
    width: 280px; height: 300px;            
}
.today .mem {
    width: 80px; height: 80px;
    border-radius: 200px;
}

.plus a {
    position: relative;
    top: -15px;
    font-size: 20px;
}