@charset "UTF-8";
#body{
    width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 75% 25%;
    min-height: 1000px;
    margin-top:130px;
}

#left-body{
    height: 100%;
    border-right: 1px solid gainsboro;
}
#right-body{
    position: sticky;
    top:50px;
    height: 950px;
}
#content-wrapper{
    padding: 20px;
}
#content-info{
    height: 120px;
}
#writer-info{
    height: 700px;
}
#share-button{
    padding-top : 10px;
}
.fa-facebook-f{
    color: white;
    background : #3b5998;
    width: 50px;
    text-align: center;
    border-radius : 50px;
    padding: 5px;
    cursor: pointer;
    transition: .3s;
}
.fa-facebook-f:hover{
    background: #7db341;
}
.fa-instagram{
    transition: .3s;
    cursor: pointer;
    margin-left : 10px;
    color: white;
    width: 50px;
    text-align: center;
    border-radius : 50px;
    padding : 5px;
    background : linear-gradient( 180deg, #864c9e, #de2b78,#f79734  );
}
.fa-instagram:hover{
    background: #7db341;
}
#content-button-wrapper > button{
    width: 120px;
    padding: 3px;
    border : 0px;
    margin-top: 15px;
    background : #eee;
    color : #bbb;
    border-radius: 5px;
}
#content-button-wrapper > button > i{
	font-size : 18px;
}
#content-button-wrapper > button > b{
    font-size : 18px;
    margin-left : 5px;
    line-height: 40px;
    font-weight: lighter;
}
#content-button-wrapper > button:hover{
    background: #7db341;
    color:white;
}
#content-button-wrapper{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

#profile-wrapper{
    height: 100px;
    display: grid;
    grid-template-columns: 30% 50% 20%;
}

#profile-img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
#profile-id{
    font-size: 21px;
    margin-top: 10px;
    padding-left:3px;
}
#profile-id > div:nth-child(2){
    font-size: 15px;
}
#follow{
    height: 40px;
    margin-top: 20px;
    border : 0;
    background : #eee;
    color: #777;
    border-radius: 5px;
}
#follow:hover{
    background : #7db341;
    color: white;
}
#writer-post{
    height: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
#writer-post > a >img{
    width:97%;
    height: 97%;
}
#post-img1{
    border-radius: 5px 0 0 0;
}
#post-img2{
    border-radius: 0 5px 0 0;
}
#post-img3{
    border-radius: 0 0 0 5px;
}
#post-img4{
    border-radius: 0 0 5px 0;
}
#more-post{
    width: 98%;
    border-radius : 0 0 10px 10px;
    height: 40px;
    font-size: 20px;
    border : 0;
    background : #7db341;
    color : white;
    font-weight: bolder;
    cursor: pointer;
    transition : .3s;
}
#more-post:hover{
    background: tomato;
    height: 60px;
}
#post-info{
    height: 33px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    font-size: 18px;
    color: rgb(81,81,81);
    border-bottom: 1px solid gainsboro;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.keyword-wrapper{
    color: white;
    background : #7db341;
    border-radius: 7px;
    padding-left : 5px;
    padding-right: 5px;
    margin-right: 3px;
    float:left;
}
#post-container{
    margin-bottom:15px;
}
.post-main-img{
    width: 100%;
    height: 600px;
}
.post-thumbs{
    margin-top:10px;
    height: 130px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.post-thumbs img{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius : 50px;
    margin-right: 10px;
}
.post-content{
    color:rgb(81,81,81);
}
#reviewStars-input input:checked ~ label, #reviewStars-input label, 
#reviewStars-input label:hover, #reviewStars-input label:hover ~ label,
#reviewStarsinput input:checked ~ label, #reviewStarsinput label, 
#reviewStarsinput label:hover, #reviewStarsinput label:hover ~ label {
    background-image : url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png');
    background-size :21px;
    background-repeat : no-repeat;
}
  
#reviewStars-input {
   position : relative; 
   left: -680px;
   top: 40px;
 }

#reviewStarsinput input {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;    
    width: 20px;
    height: 20px;    
    position: absolute;
    top: 0px; 
    z-index: 0;
}
  #reviewStars-input input {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;    
    width: 20px;
    height: 20px;    
    position: relative;
    top: 0;  
    z-index: 0; 
  }
  
  #reviewStars-input input:checked ~ label {
    background-position: 0 -20px;
    width: 20px;
    height: 20px;
  }
   #reviewStarsinput input:checked ~ label {
    background-position: 0 -20px;
    width: 20px;
    height: 20px;
    position: relative;
    left: -20px;
  } 
  
  #reviewStarsinput label {
    background-position: 0 0;
    width: 20px;
    height: 20px;
    float: right;  
    position: relative;
    z-index: 1;
    left : -20px;
    margin-right: 5px;   
  } 
  #reviewStars-input label {
    background-position: 0 0;
    width: 20px;
    height: 20px;
    float: right;    
    margin-right: 5px;    
    position: relative;
    z-index: 1;
  }
  
 /*  #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background-position: 0 -19px;
    height: 20px;
    width: 20px;
  }
  #reviewStarsinput label:hover, #reviewStars-input label:hover ~ label {
    background-position: 0 -19px;
    height: 20px;
    width: 20px;
  } */

#comment-header{
    font-size: 19px;
    font-weight: bolder;
    color: rgb(81,81,81);
}

#comment-header > b{
    font-size : 30px;
    color: #7db341;
}
#comment-container{
    border : 1px solid gainsboro;
}
#comment-mine{
    display: flex;
    justify-content: space-between;
}
#comment-mine img{
    width: 60px;
    height: 60px;
    border-radius :30px;
}
.comment-input{
    width: 600px;
    height: 45px;
    resize: none;
   	min-height : 45px;
   	max-height : 45px;
}
.comment-input:focus {
	outline: none;
}
.comment-updateform {
	width: 500px;
    height: 50px;
    resize: none;
}
#comment-submit{
    height: 50px;
    color: #7db341;
    border : 0;
    background: white;
    cursor: pointer;
}
.comment-exit {	
    color: #7db341;
    border : 0;
    background: white;
    cursor: pointer;
    font-size : 35px;
}

#comment-nope {
	height: 50px;
    color: #7db341;
    border : 0;
    background: white;
    cursor: pointer;
}
.comment-update {
	height: 50px;
    color: #7db341;
    border : 0;
    background: white;
    cursor: pointer;
    display : inline-block;
}
#comment-other{
    border-top: 1px solid gainsboro;
    margin-top: 10px;
}
.other-profile{
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.comment-other-wrapper{
    display: grid;
    grid-template-columns: 10% 90%;
}
.other-content-wrapper{
    display: grid;
    grid-template-columns: 20% 80%;
}
.other-id{
    color: rgb(30,30,30);
    font-weight: bolder;
}

.other-date{
    font-size: 13px;
    color: gray;
}
#post-body{
	position: relative;
}
#updateComment, .deleteComment {
	border : none;
	background : white;
	color : gray;
	font-size : 10px;
}

#updateComment:hover, .deleteComment:hover {
	color : #7db341;
}

button{
	outline:none;
}