@charset "UTF-8";

#selectBox-wrapper{
    display: none;    
}
#selectBox{
    width: 210px;
    display: grid;
    grid-template-rows: repeat(7,1fr);  
}
.selectmenuContent{
    display: grid;
    grid-template-columns: 20% 77% 3%;
    width: 190px;
    padding: 10px;
    max-width: 600px;
    max-height: 40px;
    background: white;
    border: 1px solid gainsboro;
    font-weight: bold;
    font-size:14px;
    transition: .2s;
    color:rgb(81,81,81);
    overflow-x : auto;
}
.selectmenuContent > img{
    width: 30px;
}
.selectmenuContent:hover{
    /* transform: scale(1.1); */
    background: rgb(231, 248, 242);
}
#selectBoxSelector{
    width: 210px;
    height: 50px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
    position: fixed;
    top: 5px;
    right: 400px;
    z-index: 1000;
    animation: glitter2 2s linear 0s 3;
    font-size: 10px;
}
#selectBoxSelector > p{
    font-size: 14px;
    font-weight: bold;
    color:rgb(81,81,81);
    animation: glitter 2s linear 0s infinite;
    text-align: center;
}
#selectBoxSelector:hover{
    background: #7db;
}
@keyframes glitter{
    0%{opacity: 0.4;}
    50%{opacity: 1;}
    100%{opacity: 0.4;}
}
@keyframes glitter2{
    0%{background: white;}
    50%{background: #7db;}
    100%{background: white;}
}
.hiddenMenu{
    display: none;
    font-size: 12px;
}
.selectmenuContent-detail{
    line-height: 35px;
}
.selectmenuContentFold{
    line-height: 35px;
    color:rgb(81,81,81);
    transition: .2s;
}
.selectmenuContentFold:hover{
    color: tomato;
}
input[name='foodtype']{
    background-position: center;
    background-size: cover;
}
#submitBtn{
	color: rgb(81,81,81);
	transition: .3s;
}
#submitBtn:hover{
	color: #7db;
}
