@charset "UTF-8";
.board_update_container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.board_update_header {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}
.board_update_title input {
  margin-bottom: 10px;
  width: 690px;
  height: 35px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.board_update_title input:focus {
  border-color: #7db341;
  transition: border-color 0.5s ease-in-out;
}
.board_update_title input::placeholder {
  font-size: 15px;
  padding: 10px;
  color: rgb(81, 81, 81);
}
.board_update_writer input {
  margin-bottom: 10px;
  width: 690px;
  height: 35px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.board_update_writer input:focus {
  border-color: #7db341;
  transition: border-color 0.5s ease-in-out;
}
.board_update_writer input::placeholder {
  font-size: 15px;
  padding: 10px;
  color: rgb(81, 81, 81);
}
.board_update_content textarea {
  margin-bottom: 10px;
  width: 685px;
  height: 250px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  resize: none;
}
.board_update_content textarea:focus {
  border-color: #7db341;
  transition: border-color 0.5s ease-in-out;
}
.board_update_content textarea::placeholder {
  font-size: 13px;
  padding: 10px;
  color: rgb(81, 81, 81);
}
.board_update_file input {
  all: unset;
  padding: 1em;
  margin: 1em;
  display: none;
}
.board_update_button button {
  border: none;
  background: #7db341;
  border-radius: 5px;
  color: white;
  width: 350px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
