@charset "UTF-8";
.header {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
	
}

.headerLeft {
	display: inline-block;
	border: 1px solid gray;
	overflow: hidden;
	position: relative;
	width: 560px;
	height: 400px;
	margin-right: 60px;
	;
}

.infoTagContainer {
	margin-top: 10px;
	margin-bottom: 13px;
}

.infoTag {
	color: white;
	position: relative;
	display: inline-block;
	margin: 0 auto;
	width: 60%;
	background: white;
	border-radius: .4em;
}

.infoTag::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	margin-left: -10px;
	margin-bottom: -10px;
}

.pseudo {
	color: white;
	position: relative;
	display: inline-block;
	margin: 0 auto;
	width: 60%;
	background: #7db341;
	border-radius: .4em;
}

.pseudo::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #7db341;
	border-bottom: 0;
	margin-left: -10px;
	margin-bottom: -10px;
}

.tagBottom {
	margin-bottom: 30px;
	color: #7db341;
	font-size: 16px;
	margin-top: 5px;
}

.title {
	margin-top: 50px;
	font-size: 30px;
}

.subInfo {
	margin-top: 55px;
	border-top: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.subInfo i{
	color: #7db341;
}

.headerRight {
	display: inline-block;
	border: 1px solid gray;
	overflow: hidden;
	position: relative;
	width: 560px;
	height: 400px;
}

.area {
	width: 3000px;
	height: 400px;
	position: relative;
}

.area img {
	float: left;
	width: 600px;
	height: 400px;
}

.tabContainer {
	margin: 70px auto;
	width: 1200px;
}

.selectTab {
	text-align: center;
	border-collapse: collapse;
}

.selectTab td {
	border: 1px solid gainsboro;
	width: 238px;
	height: 50px;
	font-size: 20px;
	box-sizing: border-box;
}

.tabContainer .tabPanel {
	width: 100%;
	background-color: white;
	box-sizing: border-box;
}

.tabPanel {
	display: none;
}

.tag {
	font-size: 20px;
	margin-top: 50px;
}

.writeIntro {
	display: inline-block;
	font-size: 30px;
	width: 95px;
	height: 50px;
	margin-top: 30px;
	margin-left: 45%;
	text-align: center;
	line-height: 30px;
}

.fa-plus-circle {
	color: gainsboro;
}

.fa-plus-circle:hover {
	color: #7db341;
}

#introBox {
	text-decoration: none;
	position: relative;
	border: 1px solid gainsboro;
	resize: none;
	width: 800px;
	height: 500px;
	margin-left: 17%;
}

.editDelete {
	margin-top: 35px;
	margin-bottom: 200px;
	display: inline-block;
	width: 1190px;
}

#introEdit {
	display: inline-block;
	margin-bottom: 10px;
	border: 1px solid gainsboro;
	width: 70px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}

#introDelete {
	margin-left: 10px;
	display: inline-block;
	margin-bottom: 10px;
	border: 1px solid gainsboro;
	width: 70px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}

.saveReturn {
	margin-top: 35px;
	margin-bottom: 200px;
	display: inline-block;
	width: 1190px;
}

#introReturn {
	display: inline-block;
	margin-bottom: 5px;
	border: 1px solid gainsboro;
	width: 70px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}

#introSave {
	margin-left: 10px;
	display: inline-block;
	border: 1px solid gainsboro;
	width: 70px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}

#introHeader {
	margin-left: 330px;
	display: inline-block;
	text-align: center;
	border-bottom: 1px solid white;
	font-size: 20px;
}

#introSave:hover {
	background-color: #7db341;
	color: white;
}

#introReturn:hover {
	background-color: #7db341;
	color: white;
}

#introDelete:hover {
	background-color: #7db341;
	color: white;
}

#introEdit:hover {
	background-color: #7db341;
	color: white;
}

.dataBefore {
	height: 30px;
}