.main_container {

    width: 1200px;
    margin-top: 90px;
    margin-bottom:90px;
    margin-left: auto;
    margin-right: auto;
}
.main_header {
    border-bottom: 3px solid gainsboro;
}

.main_header span {
    display: inline-block;
}

.header_cooking_meetup {

    margin-bottom: 15px;
    font-weight: bold;
    font-size: 30px;
    color: #7db341;
    
}

.header_search {
    margin-top: 20px;
    display: inline-block;
    margin-left: 450px;
    height: 40px;
}

.header_search>input {
    font-size: 28px;
    padding-left: 10px;
    border: 1px solid #7db341;
    border-radius: 10px;
    width: 300px;
    color: gray;
    background: white;
}

.create_manage_container {
    width: 240px;
    margin-top: 57px;
    margin-left: 83%;
}

.header_meetup_manage {
    margin-left: 20px;
}

.header_meetup_create,
.header_meetup_manage {
    text-align: center;
    padding: 10px;
    font-size: 17px;
    width: 85px;
    height: 22px;
    background-color: #7db341;
    color: white;
    border-radius: 5px;

}

.after_click {
    margin: 0px auto;
    margin-top:10px;
    border: 1px solid gainsboro;
    width: 800px;
    display: none;
    border-radius: 5px;
}


.location_container {

    border: 1px solid gainsboro;
    margin: 5px 5px;
    border-radius: 5px;

    display: block;


}

.location_title_container {
    text-align: center;
    height: 30px;
    border-bottom: 1px solid gainsboro;
    color: #7db341;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.location_title_container>span {
    display: inline-block;
}

.location_add_minus {

    align-content: center;
    text-align: right;
    box-sizing: border-box;
    padding-top: 3px;
    padding-right: 30px;
}

.location_position  {
    display: none;
    background-color: #fafbfd;
    height: 70px;
    border-bottom: 1px solid gainsboro;
    text-align:center;
   	line-height:68px;
}


#search_area_container {
	display: inline-block;
	margin-left:30px;
	
}

#search_area_container select {
	    width: 80px;
    height: 26px;
    border-radius: 20px;
    border: 1px solid #7db341;
	
}
	
.fa-plus-circle {
    font-size: 23px;

}

.fa-minus-circle {
    font-size: 23px;
}

.food_type_container {

    border: 1px solid gainsboro;
    margin: 5px 5px;
    border-radius: 5px;
    display: block;

}

.food_type_title {
    text-align: center;
    height: 30px;
    border-bottom: 1px solid gainsboro;
    color: #7db341;
}

.food_type_position {
    background-color: #fafbfd;
    height: 70px;
    border-bottom: 1px solid gainsboro;
    text-align: center;
    line-height: 65px;
    display: none;
}

.food_type_position input {
    display: inline-block;

    margin-left: 26px;
    left: -80px;
}



.monthly_fee_container {

    border: 1px solid gainsboro;
    margin: 5px 5px;
    border-radius: 5px;
    display: block;

}

.monthly_fee_title {
    text-align: center;
    height: 30px;
    border-bottom: 1px solid gainsboro;
    color: #7db341;
}

.monthly_fee_position {
    background-color: #fafbfd;
    height: 70px;
    border-bottom: 1px solid gainsboro;
    text-align: center;
    line-height: 65px;
    display: none;
}

.monthly_fee_position input {
    display: inline-block;

    margin-left: 45px;
    left: -80px;
}

.recommend_div {
    margin: 0 auto;
    width: 1200px;
}


.recommend_title {

    text-align: center;
    margin: 0 auto;
    width: 1000px;
    margin-top: 40px;
    color: #7db341;
    font-size: 25px;
}

.selectTab {
    margin-top: 30px;
    border: 1px solid gainsboro;
    width: 1200px;
    text-align: center;
    border-collapse: collapse;
}

.selectTab td {
	width:60px;
    border-right: 1px solid gainsboro;
    height: 50px;
    font-size: 17px;
}

.info_block {
    border: 1px solid gainsboro;
    margin-top: 10px;
    background: #fafbfd;
    grid-row-gap: 1px;
    display: grid;
    width: 384px;
    height: 310px;
    grid-template-rows: 60% 17% 11% 12%;
    color: black;
    box-shadow: 10px 10px 20px 3px gray;
}

.info_block>div {
    width: 100%;
    display: grid;

}

.info_block>.info_header1 {
    padding-top: 10px;
    font-size: 17px;
}



.info_block>.info_header3 {
    padding-top: 10px;
    font-size: 17px;
}



.info_block>.info_pic {

    background-repeat: no-repeat;
    overflow: hidden;

}

.info_pic img {
    transition: .7s;
}

.info_pic img:hover {
    transform: scale(1.3, 1.3);
}

.info_block>.info_pic2 {


    background-repeat: no-repeat;
    background-size: cover;

}

.info_block>.info_pic3 {


    background-repeat: no-repeat;
    background-size: cover;

}

.info_block>.info_pic3 {

    background-repeat: no-repeat;
    background-size: cover;

}

.info_block>.info_pic4 {

    background-repeat: no-repeat;
    background-size: cover;

}


.info_block>.info_line {
    background: #fafbfd;
    color: black;
    line-height: 32px;
    margin-top: 15px;
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    box-sizing: border-box;
    font-size: 17px;

}

.info_monthly_fee {
    padding-left: 25px;
    box-sizing: border-box;
    color: #7db341;
    font-size: 17px;
    font-weight: bold;
}

.info_bottom {
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    border-top: 1px solid gainsboro;
    display: grid;
    grid-template-columns: 35% 43% 22%;
    align-items: center;
    font-size: 17px;
}

.bottom_location {
    font-size: 17px;

}



.bottom_view_count {

    position: relative;
    width: 80px;

    font-size: 17px;
}


.info_block_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;

    width: 1200px;
}

.fa-map-marker-alt {
    color: rgb(195, 195, 195);
}

.fa-won-sign {
    display: inline;
    color: rgb(195, 195, 195);
}

.fa-eye {
    color: rgb(195, 195, 195);
}

/*밑에 modal css 시작 */

#exampleModalLongTitle{
    color: #7db341;
    
}
.modal_meetup_name_container {
    position: relative;
    top: -18px;
    margin: 0 auto;
    text-align: center;
    width: 900px;
    height: 90px;
    display: grid;
    grid-template-columns: 19% 11% 14% 1% 20%;

    border-bottom: 1px solid gainsboro;
}

.modal_meetup_name_container>div {
    font-size: 17px;
    display: grid;
    justify-items: center;
    align-items: center;

}
.modal_meetup_name{
    text-align:left;
}
.meetup_title {
    width: 350px;
    height: 26px;
}

.modal_meetup_tag_container {
    position: relative;
    top: -18px;
    margin: 0 auto;
    text-align: center;
    width: 900px;
    height: 90px;
    display: grid;
    grid-template-columns: 19% 12% 14%;

    border-bottom: 1px solid gainsboro;
}
#modal_meetup_tag{
    text-align: left;
}
.modal_meetup_tag_container>div {
    font-size: 17px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.meetup_tag {
    width: 350px;
    height: 26px;
}

.modal_meetup_location_container {
    position: relative;
    top: -18px;
    margin: 0 auto;
    text-align: center;
    width: 900px;
    height: 90px;
    display: grid;
    grid-template-columns: 19% 9% 1% 66%;

    border-bottom: 1px solid gainsboro;
}

.modal_meetup_location_container>div {
    font-size: 17px;
    display: grid;
    justify-items: center;
    align-items: center;
}
.modal_meetup_day_container{
    position: relative;
    top: -18px;
    margin: 0 auto;
    text-align: center;
    width: 900px;
    height: 90px;
    display: grid;
    grid-template-columns: 19% 12% 66%;

    border-bottom: 1px solid gainsboro;
}
.modal_meetup_day_container>div {
    font-size: 17px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.modal_meetup_day_container>.modal_meetup_day_box{
    display: block;
    line-height: 85px;
    text-align: left;
}
.modal_meetup_day_box>span{
display:inline-block;
border: 1px solid gainsboro;
width:35px;
height:35px;
border-radius:75px;
text-align:center;
margin-right:30px;
font-size:15px;
vertical-align:middle;
line-height:30px;
}
.modal_meetup_day_box>label{
    display:inline-block;
    border: 1px solid gainsboro;
    width:35px;
    height:35px;
    border-radius:75px;
    text-align:center;
    margin-right:30px;
    font-size:15px;
    vertical-align:middle;
    line-height:30px;
    }

.modal_meetup_day_box input{
    display:none;
   
}
input[type=checkbox]:checked +label{
    
    background-color:  #7db341;
    color:white;
}
.select_modal_city{
width: 70px;
    height: 26px;
    border: 1px solid #7db341;
    border-radius: 20px;
}
.select_modal_town{
    width: 74px;
        height: 26px;
        border: 1px solid #7db341;
        border-radius: 20px;
    }
.modal_meetup_plus_container {
    text-align: center;
}

#modal_location_plus {
    color: #7db341;
    font-size: 25px;
}
#modal_location_minus{
    color: #7db341;
    font-size: 25px;
}
.modal_meetup_location_container>.modal_meetup_location_box {
    display: block;
    text-align: left;
    line-height: 40px;
}

#modal_area_container {
    display: inline-block;
    margin-left: 23px;
    line-height: 88px;

}

.modal_meetup_fee_container {
    
    position: relative;
    top: -18px;
    margin: 0 auto;
    text-align: center;
    width: 900px;
    height: 90px;
    display: grid;
    grid-template-columns: 19% 12% 11% 35%;

    border-bottom: 1px solid gainsboro;
}

.modal_meetup_fee_container>div {
    font-size: 17px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.modal_meetup_fee_container>.modal_meetup_fee_checkbox {
    display: block;
    line-height: 90px;
    font-size: 17px;
    text-align: left;
}

.modal_meetup_fee_container>.modal_meetup_fee_inputbox {
    display: block;
    line-height: 90px;
    font-size: 17px;
    text-align: left;
}

.modal_fee_input {
    height: 25px;
}

.modal_meetup_mainPic_container {
    position: relative;
    top: -18px;
    margin: 0 auto;
    text-align: center;
    width: 900px;
    
    display: grid;
    grid-template-columns: 19% 10% 35%;

    border-bottom: 1px solid gainsboro;
}

.modal_meetup_mainPic_container>div {
    font-size: 17px;
    display: grid;
    justify-items: center;
    align-items: center;
}


/* 부트스트렙 사진 업로드 부분 */

  
  .file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-left:10px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color:  #7db341;
    background:white;
    border: none;
    padding: 10px;
    border-radius: 4px;

    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  .file-upload-btn:hover {
    background: #7db341;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: left;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 10px;
    border: 4px dashed #1fb264;
    position: relative;
  }
  .image-upload-wrap:hover {
    background-color: #1fb264;
    border: 4px dashed #ffffff;
  }
  
  .image-dropping {
    background-color: #1fb264;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
      position: relative;
      top:-23px;
      display: inline-block;
    padding: 0 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824b;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
   
    width: 180px;
    margin:0px;
    margin-bottom: 30px;  
    border: none;
    padding: 10px;
    border-radius: 4px;
    background: #ffffff;
    color:black;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size:15px;
  }
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  